jobs:
  build:
    docker:
      - image: python:3.8         # Using Docker image from Docker Hub
    steps:
      - run: echo "This is a build step"

  test:
    docker:
      - image: python:3.8         # Using Docker image from Docker Hub
    steps:
      - run: echo "This is a test step"

  integration:
    docker:
      - image: python:3.8         # Using Docker image from Docker Hub
    steps:
      - run: echo "This is an integration step"
      - run: exit 1               # Forces failure
    allow_failure: true           # Continue pipeline despite failure

  deploy:
    docker:
      - image: python:3.8         # Using Docker image from Docker Hub
    steps:
      - run: echo "This is a deploy step"

  artifact:
    docker:
      - image: python:3.8         # Using Docker image from Docker Hub
    steps:
      - run: echo "Saving a random message to artifact" > artifact.txt
      - store_artifacts:
          path: artifact.txt        # Save the artifact file

workflows:
  version: 2
  build-and-test:
    jobs:
      - build:
          filters:
                branches:
                  only:
                    - main
      - test:
          requires:
            - build
          filters:
            branches:
              only:
                - main  
      - integration:
          requires:
            - test
          filters:
            branches:
              only:
                - main  
      - deploy:
          filters:
            branches:
              only:
                - main  
          type: approval            # Manual trigger for deploy job
      - artifact:
          requires:
            - deploy
          filters:
            branches:
              only:
                - main  
