# .github/workflows/upload-artifact.yml
name: Upload Artifact to Artifactory

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  upload-artifact:
    runs-on: ubuntu-latest
    permissions:
      id-token: write    # for GitHub OIDC
      contents: read     # for checkout
    env:
      JF_URL: https://accenture2025.jfrog.io
      REPO_KEY: artifactory-build-info   # your target repo

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4.0.0
        with:
          version: latest
          oidc-provider-name: testtt
        env:
          JF_URL: ${{ env.JF_URL }}

      - name: Configure Artifactory server
        run: |
          jf config add artifactory \
            ${{ env.JF_URL }}/artifactory \
            --server-id=artifactory \
            --interactive=false

      - name: Create a sample artifact
        run: |
          echo "Artifact created by run ${{ github.run_id }}" > myartifact-${{ github.run_id }}.txt

      - name: Upload artifact to Artifactory
        run: |
          jf rt upload \
            "myartifact-${{ github.run_id }}.txt" \
            "${{ env.REPO_KEY }}/myartifact-${{ github.run_id }}.txt" \
            --server-id artifactory
